<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>

  <main>
    <div>
      <h1 class="title"> Krosmaster List: </h1>
      <p class="subtitle">
        Congratulations, you have just created your first AdonisJS app.
      </p>

      @each((krosmaster, index) in krosmasters)
        <img style='display:block; width:100px;' id='base64image'
          src={{ 'https://krosarchive.es' + krosmaster.figurine }} />
      @end
    </div>
  </main>
</body>
</html>
