@layout('layouts/main')

@section('home')
<div class="w-full overflow-hidden rounded-lg shadow-xs">
  <div class="w-full overflow-x-auto">
    @!include('krosmaster/partials/table')
  </div>
</div>
@endsection
