<!DOCTYPE html>
<html x-data="data()" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>KrosDB</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body>
  <div class="flex h-screen bg-gray-50" :class="{ 'overflow-hidden': isSideMenuOpen }">
    <!-- Desktop sidebar -->
    @include('layouts/partials/sidebar')
    <div class="flex flex-col flex-1 w-full">
      @include('layouts/partials/header')
      <main class="h-full overflow-y-auto">
        <div class="container px-6 mx-auto grid">
          <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            @if(title)
              {{ title }}
            @endif
          </h2>
          @!section('home')
        </div>
      </main>
    </div>
  </div>
  <script>

  </script>
</body>

</html>
